<div class="box">
  <div class="media-content">
    <small><%= appointment.schedule_for %></small>
    <br/>
    <strong><%= appointment.title %></strong>
    </br>
    <p><%= appointment.notes %></p>
  </div>
  <nav class="level">
    <div class="level-left is-mobile">
      <%= link_to appointment, class: "level-item" do %>
        <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
      <% end %>
      <%= link_to edit_appointment_path(appointment), class: "level-item" do %>
        <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
      <% end %>
      <%= link_to appointment, method: :delete, data: { confirm: 'Are you sure?' }, class: "level-item" do %>
        <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
      <% end %>
    </div>
  </nav>
</div>
