<p id="notice"><%= notice %></p>

<div class="level">
  <div class="column is-centered">
    <div class="columns level-item">
      <span class="column is-half title is-3 has-text-right">Title:</span>
      <span class="column is-half has-text-left"><%= @appointment.title %></span>
    </div>

    <div class="columns level-item">
      <span class="column is-half title is-3 has-text-right">Notes:</span>
      <span class="column is-half has-text-left"><%= @appointment.notes %></span>
    </div>

    <div class="columns level-item">
      <span class="column is-half title is-3 has-text-right">Time being scheduled: </span>
      <span class="column is-half has-text-left"><%= @appointment.schedule_for %></span>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
